<a href="/main">New Character</a>
<a href="/application"> home</a>
<h1 class="titleText">Your Characters</h1>
</form>
<% allcharacters.forEach(findChar => { %>
<div class="exploreBox1"> 
<h1 class="titleText"><%= findChar.name %> Details:</h2>  
  <img class="charimg" src="<%= findChar.image %>" alt="character image">
    <p class="allcharP">Gender: <%= findChar.gender %></p> 
    <p class="allcharP">Nickname: <%= findChar.nickname %></p> 
    <p class="allcharP">Weakness: <%= findChar.weakness %></p>
  <p class="allcharP">Universe: <%= findChar.universe %></p>
  <p class="allcharP">Weapon: <%= findChar.weapon %></p>
  <a href="/characters/<%= findChar.id %>/update"
    class="whiteButton">Change Your Character</a>  
  <a href="/characters/<%= findChar.id %>/delete" class="whiteButton">Delete this character</a>
  </div>
  <% }) %>
   
