<h1>Update</h1>
<form action="/auth/logout" method="post">
    <button type="submit">Log out</button>
  </form>
<div class="updateBackground">
    <div class="pageCtr">
    <div class="box">
      <div class="pageText">
        <h1>Change your character's name, weapon and universe below:</h1>
        <form action="/characters/<%= character.id %>/update" method="POST">
          <ul class="wrapper">
            <li class="form-row">
              <label>Name:</label>
              <input type="text" name="name" value="<%= character.name %>" />
            </li>
            <li class="form-row">
              <label>Weapon:</label>
              <input
                type="text"
                name="occupation"
                value="<%= character.weapon %>"
              />
            </li>
            <li class="form-row">
              <label>Universe:</label>
              <input
                type="text"
                name="universe"
                value="<%= character.universe %>"
              />
            </li>
            <li class="form-row">
              <button type="submit">Apply Changes!</button>
            </li>
            <li class="form-row">
              <a href="/characters/<%= character.id%>/details" class="whiteButton"
                >Cancel</a
              >
            </li>
          </ul>
        </form>
      </div>
    </div>
    </div>
  </div>
  